{# Gemeinsamer Formular-Body für Neu + Bearbeiten einer Sitzung (Modal-Body). #}
{% from "schriftfuehrung/_richtext.html" import rt %}
{#
  Vorausgefüllte Standardtexte für Neuanlage je nach Sitzungstyp.
  meeting_type wird nur ausgewertet wenn meeting=None (Neuanlage).
#}
{% set _defaults_board = {
  'heading': 'Einladung zur Vorstandssitzung',
  'intro': '<p>Der Obmann eröffnet die Vorstandssitzung und begrüßt die Anwesenden. Er stellt die ordnungsgemäße Einladung sowie die Beschlussfähigkeit des Vorstands fest.</p>',
  'closing': '<p>Da keine weiteren Punkte vorliegen, schließt der Obmann die Vorstandssitzung und dankt den Anwesenden für ihre Teilnahme.</p><p>Der Obmann<br>Obmanname</p>'
} %}
{% set _defaults_assembly = {
  'heading': 'Einladung zur Hauptversammlung',
  'intro': '<p>Der Obmann eröffnet die ordentliche Hauptversammlung und begrüßt die erschienenen Mitglieder. Er stellt fest, dass die Einladung fristgerecht ergangen ist und die Versammlung beschlussfähig ist.</p>',
  'closing': '<p>Da keine weiteren Wortmeldungen vorliegen, schließt der Obmann die Hauptversammlung und dankt den Mitgliedern für ihre Teilnahme.</p><p>Der Obmann<br>Obmanname</p>'
} %}
{% macro meeting_form_fields(meeting=None, meeting_type=None) %}
{%- if meeting %}
  {%- set _default_heading = _defaults_assembly.heading if meeting.meeting_type == 'assembly' else _defaults_board.heading %}
  {%- set _heading = meeting.invitation_heading or _default_heading %}
  {%- set _intro  = meeting.intro_text %}
  {%- set _closing = meeting.closing_text %}
{%- elif meeting_type == 'board' %}
  {%- set _heading = _defaults_board.heading %}
  {%- set _intro  = _defaults_board.intro %}
  {%- set _closing = _defaults_board.closing %}
{%- elif meeting_type == 'assembly' %}
  {%- set _heading = _defaults_assembly.heading %}
  {%- set _intro  = _defaults_assembly.intro %}
  {%- set _closing = _defaults_assembly.closing %}
{%- else %}
  {%- set _heading = '' %}
  {%- set _intro  = '' %}
  {%- set _closing = '' %}
{%- endif %}
<div class="row g-2">
  <div class="col-12">
    <label class="form-label required">Titel</label>
    <input type="text" name="title" class="form-control" required maxlength="200"
           placeholder="z. B. Ordentliche Vorstandssitzung"
           value="{{ meeting.title if meeting else '' }}">
  </div>
  <div class="col-md-4">
    <label class="form-label">Datum</label>
    <input type="date" name="meeting_date" class="form-control"
           value="{{ meeting.meeting_date.isoformat() if meeting and meeting.meeting_date else '' }}">
  </div>
  <div class="col-md-4">
    <label class="form-label">Beginn</label>
    <input type="time" name="start_time" class="form-control"
           value="{{ meeting.start_time.strftime('%H:%M') if meeting and meeting.start_time else '' }}">
  </div>
  <div class="col-md-4">
    <label class="form-label">Ende</label>
    <input type="time" name="end_time" class="form-control"
           value="{{ meeting.end_time.strftime('%H:%M') if meeting and meeting.end_time else '' }}">
  </div>
  <div class="col-12">
    <label class="form-label">Ort</label>
    <input type="text" name="location" class="form-control" maxlength="200"
           placeholder="z. B. Gemeindesaal Musterdorf"
           value="{{ meeting.location if meeting and meeting.location else '' }}">
  </div>
  <div class="col-12">
    <label class="form-label">Überschrift der Einladung</label>
    <input type="text" name="invitation_heading" class="form-control" maxlength="200"
           placeholder="z. B. Einladung zur Hauptversammlung"
           value="{{ _heading }}">
    <small class="form-hint">Erscheint als Überschrift auf der Einladung (PDF und Word).</small>
  </div>
  <div class="col-12">
    <label class="form-label">Einleitender Text</label>
    {{ rt('intro_text', _intro) }}
  </div>
  <div class="col-12">
    <label class="form-label">Abschlusstext</label>
    {{ rt('closing_text', _closing) }}
  </div>
</div>
{% endmacro %}
